<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Administrar Cuenta</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">

             <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                Bienvenido
            </p:layoutUnit>
            <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Instrumentos" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Música" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Sonido" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Accesorios" url="http://forum.primefaces.org/" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>


            <p:layoutUnit position="center">
                <h:outputText id="msn" style ="color: blue" value="#{mBUsuario.msn}" />
                <br/>
                <br/>
                <br/>
                <h:form>
                    <h:panelGrid columns="1">
                        <p:commandButton value="Editar Información " 
                                       update =""  action="administrarCuenta2IH" styleClass="ui-priority-primary" />
                        <br/>
                        <p:commandButton value="Subir Artículo " 
                                         update="" action="subirArticulo" styleClass="ui-priority-primary" />
                        <br/>
                        <p:commandButton value="Ver mis Artículos" 
                                         update="" action="index" styleClass="ui-priority-primary" />
                        <br/>
                        <p:commandButton value="Eliminar Cuenta " action="#{mBUsuario.eliminarUsuario()}" styleClass="ui-priority-primary" />
                        <br/>
                    </h:panelGrid>
                    <br/>
                    <br/>
                        <p:commandButton action="index"  value="Regresar"   />
                    <br/>
                    <br/>
                    <br/>


                </h:form>

            </p:layoutUnit>


        </p:layout>
    </h:body>

</html>
